<!--
<h1>Daily Journal</h1>
<div *ngFor="let day of days">
  <div>{{day.createdDate}}</div>
  <div>{{day.todayNotes}}</div>
</div>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Daily Journal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link">Add Today <span class="sr-only">(current)</span></a>
        </li>
     </ul>
  </div>
</nav>

<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let day of days" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-8 card-title align-self-center mb-0">
              <h5>{{day?.createdDate}}</h5>
              <p class="m-0">{{day?.todayNotes}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
          <!--tasks-->
           
        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
             <!--edit delete
              <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             -->
           </div>
        </div>
     </div>
  </div>
</div>
</div>